*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainFrom {
    background-color: #df6b1b;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.dropdown{
    border: 2px solid transparent;
    border-radius:20px ;
    padding: 0.4rem 0.8rem;
    background-color: #fde7aa;
    font-weight:1000;
}
.inputItem{
    border: 2px solid transparent;
    border-radius:20px ;
    padding: 0.4rem 1.8rem;
    background-color: #fde7aa;
    font-weight:1000;
}

.addBtn{
    border: 2px solid transparent;
    border-radius:20px ;
    padding: 0.4rem 0.8rem;
    background-color: #67c1a3;
    font-weight:1000;

}